:root {
  --primary-color: #0C134F;
  --secondary-color: #1D267D;
  --accent-color: #5C469C;
  --background-color: #D4ADFC;
  --text-color: #FFFFFF;
  --title-color: #FFD700;
}

/* Fuente personalizada */
@font-face {
  font-family: 'GamerFont';
  src: url('./assets/fonts/Space_Mono/SpaceMono-Regular.ttf');
}

/* Estilo del cuerpo del documento */
body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: 'GamerFont', Arial, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: var(--primary-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--secondary-color);
}

.featured-section {
  background-color: var(--secondary-color);
}

.footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  text-align: center;
}